@use '@shared/styles/mixins' as *;

.BottomNavigation {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-white);
  border-top: 1px solid #f6f6f6;
  @include padding($x: 20, $bottom: env(safe-area-inset-bottom));
  z-index: var(--z-sticky);
}

.BottomNavigation__Item {
  height: 100%;
  transition: color 0.2s ease;
  cursor: pointer;
  @include flex($direction: column, $align: center, $justify: center, $gap: 4);
  @include font($size: 11, $weight: 500, $line-height: 1.5, $color: var(--gray-400));
}

.BottomNavigation__Item--Contents {
  width: 60px;
  height: 45px;
  @include flex($direction: column, $align: center, $justify: center);
}

.BottomNavigation__Item--Active {
  color: var(--gray-900);
  font-weight: 600;
}
