@use '@shared/styles/mixins' as *;

.ReserveCompleteText {
  @include flex($direction: column, $justify: center, $align: center, $gap: 16px);
  min-width: 260px;

  &__Content {
    @include flex($direction: column, $align: center, $gap: 8px);
    text-align: center;

    h2 {
      @include font(
        $size: 20px,
        $weight: 700,
        $line-height: 1.4,
        $letter-spacing: -0.4px,
        $color: var(--color-gray-900)
      );
    }

    p {
      @include font(
        $size: 16px,
        $weight: 600,
        $line-height: 1.5,
        $letter-spacing: -0.32px,
        $color: var(--color-blue-500)
      );
    }
  }
}
