@use '@/shared/styles/mixins' as *;

.ReservationScheduledCard__BasicText {
  @include font(
    $size: 14,
    $weight: 600,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-800)
  );
}

.ReservationScheduledCard__BottomSheetContent {
  overflow-y: auto;
  @include flex($direction: column, $gap: 24);
}
