@use '../../../shared/styles/mixins' as *;

.BottomSheet {
  &__Title {
    @include font($weight: 700, $color: #333);
    @include margin($bottom: 24);
  }

  &__Content {
    flex: 1;
    overflow-y: auto;
  }
}

.CloseButton {
  svg,
  svg * {
    fill: #333333 !important;
  }
}
