@use '@shared/styles/mixins' as *;

.SettingList {
  @include flex($justify: space-between, $align: center);
  @include size($height: 50);
  cursor: pointer;
}
.SettingList__Title {
  @include font($size: 14, $weight: 500, $color: var(--gray-900));
}
