@use '../../../shared/styles/mixins' as *;

.Modal {
  border-radius: 16px;
  background-color: var(--color-white);
  @include size($max-width: 288);

  &__Wrapper {
    display: contents;
  }

  &__Body {
    text-align: center;
    box-shadow: 0px 4px 16px 0px #0000001f;
    @include padding($top: 24, $x: 16, $bottom: 16);
    @include font($letter-spacing: -0.02em);
  }

  &__Title {
    @include margin($bottom: 8);
    @include font(
      $size: 16,
      $weight: 700,
      $color: var(--gray-900),
      $line-height: 1.5,
      $letter-spacing: -0.02em
    );
  }

  &__Text {
    text-align: center;
    @include margin($bottom: 28);
    @include font(
      $size: 14,
      $weight: 500,
      $color: var(--gray-800),
      $line-height: 1.5,
      $letter-spacing: -0.02em
    );
  }

  &__Buttons {
    @include flex($justify: space-between, $gap: 8);
  }

  &__Button {
    flex: 1;
  }
}
