@use '../../../shared/styles/mixins' as *;

// 기본 스타일
.Modal {
  max-width: 288px;
  border-radius: 16px;
  background-color: var(--color-white);

  // 모달 요소
  &__Body {
    text-align: center;
    padding: 24px 16px 16px;
    letter-spacing: -0.02em;
    box-shadow: 0px 4px 16px 0px #0000001f;
  }

  &__Title {
    margin-bottom: 8px;
    color: var(--gray-900);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }

  &__Text {
    margin-bottom: 28px;
    text-align: center;
    color: var(--gray-800);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }

  &__Buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__Button {
    flex: 1;
    height: 50px;
  }
}
