@use '@shared/styles/mixins' as *;

.NaverLoginButton {
  background: #00c73c;

  width: 100%;
  height: 50px;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  @include padding($y: 12, $left: 24, $right: 46);
  @include font($size: 16, $weight: 700, $color: #fff);
  @include flex($align: center, $justify: space-between, $gap: 8);

  span {
    width: 100%;
  }
  &:not(:disabled):hover,
  &:not(:disabled):active {
    background: #00b336;
  }
}
