@use '@/shared/styles/mixins' as *;

.CampaignSelectedCard__VisitDateWrapper {
  width: 100%;
  @include flex($justify: space-between, $align: center);
}

.CampaignSelectedCard__KebapButton {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  @include flex($align: center, $justify: center);

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--gray-50);
  }

  &:active {
    background-color: var(--gray-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-500);
    outline-offset: 2px;
  }
}

.CampaignSelectedCard__VisitDate {
  @include font(
    $size: 16,
    $weight: 700,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--color-blue-500)
  );
}

.CampaignSelectedCard__SelectedText {
  @include font(
    $size: 16,
    $weight: 700,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-900)
  );
}
