# Dependencies
node_modules

# Build output
.next
build
out

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment
.env
.env.*
!.env.example

# Misc
*.md
*.log
.DS_Store
Thumbs.db

# Test
coverage
.nyc_output

# Husky
.husky
