@use '@shared/styles/mixins' as *;

.CampaignVisitReservation {
  @include flex($direction: column);
  width: 100%;
  @include padding($y: 24, $x: 16);
  background: var(--color-white);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    background-color: var(--color-gray-50);
  }
}

.Title {
  @include font($size: 16, $weight: 700, $line-height: 1.5, $letter-spacing: -2%);
  color: var(--color-gray-900);
  @include margin($bottom: 12);
}

.InfoItem {
  @include flex($align: flex-start, $gap: 30);
  @include margin($bottom: 12);

  &:last-child {
    @include margin($bottom: 0);
  }
}

.Label {
  @include font($size: 14, $weight: 600, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-600);
  flex-shrink: 0;
  margin-bottom: 0;
}

.Value {
  @include font($size: 14, $weight: 600, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-900);
}

.ValueContainer {
  @include flex($direction: column);
  gap: 2px;
}

.Notice {
  @include font($size: 14, $weight: 600, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-900);
}

.BusinessHours {
  @include flex($align: flex-start, $gap: 35);
  @include margin($bottom: 12);
}

.LabelColumn {
  @include flex($direction: column);
  flex-shrink: 0;
  width: auto;
  padding-top: 0;
}

.ContentColumn {
  @include flex($direction: column);
  flex: 1;
  gap: 0;
}

.BusinessHoursItem {
  @include flex($align: center, $gap: 5);
  width: 100%;
  padding: 0;
  line-height: 1.5;
}

.Day {
  @include font($size: 14, $weight: 600, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-900);
  flex-shrink: 0;
}

.Time {
  @include font($size: 14, $weight: 600, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-900);
  margin-left: 4px;
}
