@use '@shared/styles/mixins' as *;

.CampaignTab {
  height: 36px;
  border-radius: 99px;
  cursor: pointer;
  @include padding($y: 0, $x: 12);
  @include flex($gap: 4, $justify: center, $align: center);
  @include font($size: 14, $line-height: 150%, $letter-spacing: -0.28);

  &__Wrapper {
    position: sticky;
    height: 52px;
    background: #fff;
    top: 56px; // TODO: GNB가 48px이어야함
    z-index: 300;
    @include padding($y: 8);
    @include flex($gap: 8, $justify: center, $align: center);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &[data-selected='true'] {
    background: #eff8ff;
    border: 1px solid #2e90fa;

    span {
      color: #2e90fa;
      @include font($weight: 700);
    }
  }

  &[data-selected='false'] {
    background: #ffffff;
    border: 1px solid #e7e7e7;

    span {
      color: #4a4a4a;
      @include font($weight: 600);
    }
  }
}
