@use '../../../../shared/styles/mixins' as *;

.CampaignCard__Link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.CampaignCard {
  overflow: hidden;
  border-bottom: 1px solid var(--gray-50);
  @include flex($gap: 16);
  @include size($width: 100%, $height: 120);
  @include padding($y: 16);
}

.CampaignCard__ImageWrapper {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;
  @include size($width: 88, $height: 88);
}

.CampaignCard__Content {
  @include flex($direction: column, $gap: 4);
  @include size($width: 224, $height: 77);
}

.CampaignCard__Brand {
  @include font(
    $size: 14,
    $weight: 600,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-900)
  );
}

.CampaignCard__Title {
  @include font(
    $size: 12,
    $weight: 500,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-600)
  );
}

.CampaignCard__Date {
  @include font(
    $size: 12,
    $weight: 500,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-600)
  );
  @include margin($top: 15);
}

.CampaignCard__MaxRecruitment {
  @include font(
    $size: 12,
    $weight: 500,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-600)
  );
  @include margin($left: 4);
}
