@use '@shared/styles/mixins' as *;

.ReviewSection {
  @include padding($y: 24, $x: 16);
  @include flex($direction: column, $gap: 12);
  h2 {
    @include font($size: 16, $weight: 700, $color: #333);
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 8px;
    grid-auto-rows: auto;
  }

  &__Button {
    width: 100%;
  }
}

.ReviewCard {
  overflow: hidden;

  span {
    align-self: stretch;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @include margin($bottom: 4);
    @include font($size: 14, $weight: 600, $color: #333);
  }

  p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @include font($size: 12, $weight: 500, $color: #b0b0b0);
  }
}

.ReviewCard__ThumbnailWrapper {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  @include margin($bottom: 8);

  img {
    object-fit: cover;
  }
}
