@use '../../../shared/styles/mixins' as *;

.EmptyState {
  text-align: center;
  color: var(--gray-400);
  @include flex($direction: column, $align: center, $justify: center);
  @include size($width: 100%);
  @include padding($y: 16);

  &__Title {
    @include margin($bottom: 8);
    @include font($size: 16, $weight: 700);
  }

  // 기본 Description 스타일 (공통)
  &__Description {
    white-space: pre-line;
    @include font($size: 14, $weight: 500);
    @include margin($bottom: 0);
  }

  // 버튼이 있을 때만 달라지는 Modifier
  &--hasButton {
    min-height: 400px;
    @include padding(0);

    .EmptyState__Description {
      @include margin($bottom: 16);
      @include font($weight: 600);
    }
  }
}
