@use '@shared/styles/mixins' as *;

.HomeContainer {
  min-height: 100vh;
  @include padding($x: 16, $bottom: 32);
}

.ListContainer {
  @include flex($direction: column, $gap: 32);
  margin-top: 8px;
}

.ScrollSection {
  scroll-margin-top: calc(48px + 52px);
}
