@use '@shared/styles/mixins' as *;

.HomeContainer {
  min-height: 100vh;
  @include padding($x: 16);
}

.ListContainer {
  @include flex($direction: column, $gap: 32);
}

.ScrollSection {
  scroll-margin-top: calc(56px + 52px); //TODO: GNB가 48px이어야함
}
