@use '@shared/styles/mixins' as *;

.HomeContainer {
  @include flex($direction: column, $align: center, $justify: center);
  @include size($min-height: 100vh);
  background-color: var(--color-blue-500);
}
