@use '../../../shared/styles/mixins' as *;

.MyPage {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); // 하단 네비게이션 높이 제외
  overflow: hidden;
  background: var(--gray-50);
}

.MyPage__Main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.MyPage--Loading {
  @include flex($direction: column, $align: center, $justify: center);
  height: 100vh;
  color: var(--gray-600);
  font-size: 15px;
}
