@use '@/shared/styles/mixins' as *;
.ButtonBar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  @include size($width: 100%);
  @include padding($all: 16);
  @include flex($justify: center, $align: center);
}
