@use '@shared/styles/mixins' as *;

.ReserveAgreement {
  @include flex($direction: column, $align: flex-start, $gap: 8px);

  @include padding($top: 16px);
  border-top: 1px solid var(--color-gray-50);
  background: var(--color-white);

  &__Button {
    @include font($size: 16px, $weight: 700, $letter-spacing: -0.32px);
    height: 50px;
  }

  p {
    color: var(--color-gray-400);
    text-align: center;

    @include font($size: 11px, $weight: 500, $letter-spacing: -0.22px);
  }
}
