@use '@shared/styles/mixins' as *;

.ReserveConfirm {
  @include flex($direction: column, $align: flex-start, $gap: 24px);
  width: 328px;

  &__Info {
    @include flex($direction: column, $align: flex-start, $gap: 16px);
    @include padding($all: 16px);
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--color-gray-100);
    @include font(
      $size: 16px,
      $line-height: 150%,
      $weight: 500,
      $letter-spacing: -0.28px,
      $color: var(--color-gray-900)
    );

    &__Title {
      @include flex($align: center, $gap: 16px);

      img {
        @include size($width: 88px, $height: 88px);
        aspect-ratio: 1/1;
        border-radius: 8px;
        background: var(--color-gray-100);
      }

      &__Text {
        @include flex($direction: column, $align: flex-start, $gap: 4px, $justify: center);
        align-self: stretch;

        h3 {
          @include font($size: 16px, $weight: 700, $letter-spacing: -0.32px);
        }

        p {
          @include font($size: 14px, $color: var(--color-gray-600));
        }
      }
    }

    &__Address {
      @include flex($direction: column, $align: flex-start, $gap: 8px);
    }

    &__Booker {
      @include flex($direction: column, $align: flex-start, $gap: 8px);
    }

    &__Visitor {
      @include flex($direction: column, $align: flex-start, $gap: 8px);
    }

    &__Date {
      @include flex($direction: column, $align: flex-start, $gap: 8px);
    }
  }

  &__Precautions {
    @include flex($direction: column, $align: flex-start, $gap: 8px);
  }
}
