@use '@shared/styles/mixins' as *;

.ReserveConfirm {
  @include flex($direction: column, $align: flex-start, $gap: 24px);
  width: 328px;

  @include font(
    $size: 14px,
    $line-height: 150%,
    $weight: 500,
    $letter-spacing: -0.28px,
    $color: var(--color-gray-900)
  );

  h3 {
    @include font($size: 16px, $weight: 700, $letter-spacing: -0.32px);
  }
}
