@use '@shared/styles/mixins' as *;

.ReserveConfirm {
  @include flex($direction: column, $align: flex-start, $gap: 16px);

  @include font($size: 14px, $weight: 500, $color: var(--color-gray-900));

  h3 {
    @include font($size: 16px, $weight: 700, $letter-spacing: -0.32px);
  }

  &__Content {
    @include flex($direction: column, $align: flex-start, $gap: 24px);
    width: 100%;
  }
}
