@use '@shared/styles/mixins' as *;

.ReserveConfirm {
  @include flex($direction: column, $align: flex-start, $gap: 24px);
  width: 328px;

  @include font(
    $size: 14px,
    $line-height: 150%,
    $weight: 500,
    $letter-spacing: -0.28px,
    $color: var(--color-gray-900)
  );

  h3 {
    @include font($size: 16px, $weight: 700, $letter-spacing: -0.32px);
  }

  &__Info {
    @include flex($direction: column, $align: flex-start, $gap: 16px);
    @include padding($all: 16px);
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--color-gray-100);

    span {
      @include font($weight: 700);
    }

    &__Title {
      @include flex($align: center, $gap: 16px);

      img {
        aspect-ratio: 1/1;
        border-radius: 8px;
        background: var(--color-gray-100);
      }

      &__Text {
        @include flex($direction: column, $align: flex-start, $gap: 4px, $justify: center);
        align-self: stretch;

        p {
          @include font($color: var(--color-gray-600));
        }
      }
    }

    &__Address {
      @include flex($direction: column, $align: flex-start, $gap: 3px);

      &__Detail {
        width: 100%;
        @include flex($align: center, $justify: space-between, $gap: 8px);

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        button {
          @include size($width: 30px, $height: 30px);
          @include flex($align: center, $justify: center);
          cursor: pointer;
          aspect-ratio: 1/1;
          border-radius: 6px;
          border: 1px solid var(--color-gray-100);
          background: var(--color-white);
        }
      }
    }

    &__Date {
      @include flex($direction: column, $align: flex-start, $gap: 4px);
    }
    &__Booker {
      @include flex($direction: column, $align: flex-start, $gap: 4px);
    }

    &__Visitor {
      @include flex($direction: column, $align: flex-start, $gap: 4px);
    }
  }

  &__Precautions {
    @include flex($direction: column, $align: flex-start, $gap: 8px);

    &__Title {
      @include flex($align: center, $gap: 8px);
    }

    button {
      @include flex($align: center, $justify: center);
      border: none;
      background: none;
    }

    h3 {
      @include font($weight: 600);
    }

    ul {
      @include padding($y: 16px, $right: 8px, $left: 24px);
      list-style: disc;
      margin: 0;
      align-self: stretch;
      border-radius: 12px;
      border-bottom: 1px solid #f6f6f6;
      background: var(--color-gray-25);
    }
  }

  &__Button {
    @include flex($direction: column, $align: flex-start, $gap: 8px);

    background: var(--value-gray-white, #fff);

    @include padding($top: 8px);
    button {
      @include padding($x: 20px);
      @include flex($align: center, $justify: center);
      height: 50px;
      align-self: stretch;

      border: none;
      border-radius: 10px;
      background: var(--value-aqua-500, #0fd3d8);

      @include font(
        $size: 16px,
        $weight: 700,
        $letter-spacing: -0.32px,
        $line-height: 150%,
        $color: var(--color-white)
      );

      text-align: center;
    }

    p {
      color: var(--color-gray-400);
      text-align: center;

      @include font($size: 11px, $weight: 500, $letter-spacing: -0.22px);
    }
  }
}

.BorderBottom {
  align-self: stretch;
  @include padding($bottom: 16px);
  border-bottom: 1px solid var(--color-gray-100);
}
