@use '@shared/styles/mixins' as *;

.CampaignInfoList {
  @include flex($direction: column, $align: flex-start, $gap: 16px);
  @include padding($all: 16px);
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--color-gray-100);

  span {
    @include font($weight: 700);
  }

  &__Card {
    padding: 0;
  }

  &__CardContent {
    justify-content: center;
    height: 100%;
  }

  &__CardBrand {
    @include font(
      $size: 16px,
      $weight: 700,
      $line-height: 1.5,
      $letter-spacing: -0.32px,
      $color: var(--color-gray-900)
    );
  }

  &__CardHeader {
    align-items: center;
  }

  &__CardTitle {
    @include font(
      $size: 14px,
      $weight: 500,
      $line-height: 1.5,
      $letter-spacing: -0.28px,
      $color: var(--color-gray-600)
    );
  }

  &__Address {
    @include flex($direction: column, $align: flex-start, $gap: 3px);

    &__Detail {
      width: 100%;
      @include flex($align: center, $justify: space-between, $gap: 8px);

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      button {
        @include size($width: 30px, $height: 30px);
        @include flex($align: center, $justify: center);
        cursor: pointer;
        aspect-ratio: 1/1;
        border-radius: 6px;
        border: 1px solid var(--color-gray-100);
        background: var(--color-white);
      }
    }
  }

  &__Content {
    @include flex($direction: column, $align: flex-start, $gap: 4px);
  }
}

.BorderBottom {
  align-self: stretch;
  @include padding($bottom: 16px);
  border-bottom: 1px solid var(--color-gray-100);
}
