@use '@shared/styles/mixins' as *;

.CampaignStatusBar {
  @include flex($direction: row, $align: center, $justify: center, $gap: 16);
  @include padding($y: 0, $bottom: 16);
}

.RemainingTime {
  @include font($size: 14, $weight: 700, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-800);
}

.ApplicantCountWrapper {
  @include flex($direction: row, $align: center, $gap: 16);
}

.ApplicantCount {
  @include font($size: 14, $weight: 700, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-800);
}

.ApplicantCount__Total {
  @include font($size: 14, $weight: 500, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-500);
}

.ExperienceCount {
  @include font($size: 14, $weight: 700, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-800);
}

.SelectionProbabilityBadge {
  @include padding($y: 0, $x: 6);
  @include size($height: 24);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include font($size: 12, $weight: 600, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-aqua-600);
  background-color: var(--color-aqua-50);
  border-radius: 6px;
  white-space: nowrap;
}
