@use '@shared/styles/mixins' as *;

.CampaignStatusBar {
  @include flex($align: center, $justify: center, $gap: 16);
  @include padding($y: 16, $x: 20);
  width: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    background-color: var(--color-gray-50);
  }
}

.RemainingTime {
  @include font($size: 14, $weight: 700, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-800);
}

.ApplicantCount {
  @include font($size: 14, $weight: 700, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-800);
}

.ApplicantCount__Total {
  @include font($size: 14, $weight: 500, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-500);
}

.SelectionProbabilityBadge {
  @include padding($y: 0, $x: 6);
  @include size($height: 24);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include font($size: 12, $weight: 600, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-aqua-600);
  background-color: var(--color-aqua-50);
  border-radius: 6px;
  white-space: nowrap;
}
