@use '@/shared/styles/mixins' as *;

.CampaignStatusLabel {
  @include font(
    $size: 14,
    $weight: 700,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-900)
  );
}

.CampaignStatusLabel--Reviewed {
  @include flex($gap: 8, $align: center);
  @include font(
    $size: 14,
    $weight: 700,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-900)
  );
}

.CampaignStatusLabel__ReservationDate {
  @include font(
    $size: 12,
    $weight: 500,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-600)
  );
}
