@use '@shared/styles/mixins' as *;

.CampaignApplyPage {
  @include padding($y: 20, $x: 16);

  min-height: 100vh;

  // TODO: 실제 디자인에 맞게 스타일 수정
  &__ApplyForm {
    @include flex($direction: column, $gap: 16);
    @include margin($top: 24);
  }
  &__ButtonBar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;

    @include size($width: 100%, $max-width: 448);
    @include padding($all: 16);
    @include flex($justify: center, $align: center);
  }
  ul {
    list-style: none;
    padding-left: 0;

    li {
      position: relative;
      padding-left: 25px;

      &::before {
        content: '•';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
        color: #999;
      }
    }
  }
}
