@use '@shared/styles/mixins' as *;

.Badge {
  height: 24px;
  padding: 0 6px;
  border-radius: 6px;
  @include flex($justify: center, $align: center);

  &--ReviewEnded {
    background: var(--color-gray-50);

    span {
      color: var(--color-gray-600);
    }
  }

  &--HighProbability {
    background: var(--color-aqua-50);

    span {
      color: var(--color-aqua-600);
    }
  }

  span {
    @include font($size: 12, $weight: 600);
  }
}
