@use '@shared/styles/mixins' as *;

// 메인 컨테이너
.LoginPage {
  width: 100%;
  height: calc(100vh - 48px);
  overflow: hidden;
  @include padding($all: 16);
  @include flex($direction: column);

  &__Card {
    width: 100%;
    flex: 1;
    @include flex($direction: column, $align: center, $justify: center);
  }
}

// 부제목
.LoginPage__Subtitle {
  text-align: center;
  @include margin($top: 48, $x: 0, $bottom: 4);
  @include font($size: 12, $color: #808080, $weight: 500);
}

// 버튼 컨테이너
.LoginPage__Actions {
  width: 100%;

  @include margin($top: -8);
  @include flex($direction: column, $gap: 12);
}

// 안내
.LoginPage__Info {
  text-align: center;
  @include margin($top: auto);
  @include font($size: 11, $weight: 500, $color: #b0b0b0);

  a {
    text-decoration: underline;
  }
}

// Suspense Fallback
.LoginPage__Fallback {
  min-height: 100vh;
  @include flex($align: center, $justify: center);
}
