@use '@shared/styles/mixins' as *;

.RejectedCampaignsPage {
  @include padding($y: 20, $x: 16);

  min-height: 100vh;

  // TODO: 실제 디자인에 맞게 스타일 수정
}

.Placeholder {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  min-height: 400px;

  text-align: center;

  // TODO: 개발 완료 후 제거
}

.Todo {
  font-size: 14px;
  color: #999;

  // TODO: 개발 완료 후 제거
}

.RejectedCampaignsPage__Header {
  position: relative;
  display: flex;
  gap: 4px;
  width: 100%;
  height: 48px;
  align-items: center;
}

.RejectedCampaignsPage__HeaderTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: var(--gray-900);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
