@use '@shared/styles/mixins' as *;

.RejectedCampaignsPage {
  min-height: 100vh;
  @include padding($y: 20, $x: 16);

  &__Header {
    position: relative;
    @include flex($gap: 4, $align: center);
    @include size($width: 100%, $height: 48);
  }

  &__HeaderTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include font(
      $size: 16,
      $weight: 700,
      $color: var(--gray-900),
      $line-height: 1.5,
      $letter-spacing: -0.02em
    );
  }

  &__HeaderBackButton {
    cursor: pointer;
    @include flex($align: center, $justify: center);
  }
}

.Placeholder {
  @include flex($direction: column, $gap: 12, $align: center, $justify: center);

  min-height: 400px;

  text-align: center;

  // TODO: 개발 완료 후 제거
}

.Todo {
  font-size: 14px;
  color: #999;

  // TODO: 개발 완료 후 제거
}
