@use '@shared/styles/mixins' as *;

.CampaignCard {
  background: var(--color-white);
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 0%, 0.24);

  &__Link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  &__Wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  &__Header {
    bottom: 0;
    padding: 16px;
    width: 100%;
  }

  &__Badge {
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 6px;
    background: rgba(0 0 0 / 20%);
    backdrop-filter: blur(8px);

    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    @include padding($y: 2, $x: 6);
  }

  &__Content {
    &__Active {
      width: 100%;
      height: 72px;
      justify-content: space-between;
      align-items: center;
      background: rgba(255, 255, 255, 0.16);
      padding: 13px 16px;
      @include flex($direction: row, $gap: 4);
    }
    &__Closed,
    &__Before {
      width: 100%;
      height: 72px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      @include flex($direction: row, $gap: 4, $align: center, $justify: center);

      span {
        color: var(--color-white);
        font-size: 18px;
        letter-spacing: -0.36px;
        font-weight: 700;
      }
    }
  }

  &__Recruitment {
    @include font($size: 14, $weight: 500, $color: rgba(255 255 255 / 60%));
    @include flex($direction: row, $gap: 8);

    b {
      color: var(--color-white);
      font-weight: 600;
    }
  }

  &__Button {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.16);
    border: none;
    @include flex($direction: row, $gap: 8, $align: center, $justify: center);
  }

  &__Brand {
    font-size: 14px;
    font-weight: 600;

    color: var(--color-white);
    line-height: 1.5;
    @include margin($all: 0);
  }

  &__Title {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white);
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.48px;
    margin-bottom: 4px;
    word-break: keep-all;
    @include margin($all: 0);
  }

  &__Items {
    opacity: 0.8;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__MetaWrapper {
    @include flex($direction: column, $gap: 4);
  }

  &__Meta {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
    line-height: 1.5;
    letter-spacing: -0.24px;
    opacity: 0.7;
    @include flex($direction: row, $gap: 8);
  }
}

.CampaignCard__Container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.BlogReviewList {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
  scrollbar-width: none;
  width: fit-content;

  &:first-child {
    margin-left: 16px;
  }
  &:last-child {
    margin-right: 16px;
  }
}

.BlogReviewListWrapper {
  overflow-x: auto;
  width: calc(100% + 32px);
  margin-left: -16px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.BlogReviewItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 260px;
  height: 102px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--color-gray-100);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  background: var(--color-white);
  justify-content: center;
  align-items: flex-start;

  &__Thumbnail {
    position: relative;
    min-width: 56px;
    height: 56px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    overflow: hidden;
    background: var(--color-gray-100);
  }

  &__Content {
    display: flex;
    gap: 8px;
  }

  &__Title {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-gray-800);
    line-height: 150%;
    letter-spacing: -0.24px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__Article {
    font-size: 12px;
    color: var(--color-gray-600);
    font-weight: 500;
    height: 54px;
    overflow: hidden;
    line-height: 1.5;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
