.ToastContainer {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 12px;

  // 정렬 변형
  &--Left {
    align-items: flex-start;
  }

  &--Right {
    align-items: flex-end;
  }
}

.Toast {
  // 기본 스타일
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(16px);
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 8%);
  min-height: 48px;
  height: 48px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 344px;
  margin-top: 12px;
  pointer-events: auto;
  animation: slideIn 0.3s ease-out;

  &--Exiting {
    animation: slideOut 0.3s ease-in forwards;
  }

  &--FitContent {
    width: auto;
    min-width: fit-content;
  }

  &__Icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__Message {
    color: var(--color-white);
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    line-height: 150%;
    white-space: nowrap;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
