@use '@/shared/styles/mixins' as *;

.ApplyForm {
  @include flex($direction: column, $gap: 16);
  @include margin($top: 24);
  ul {
    list-style: none;
    padding-left: 0;

    li {
      position: relative;
      padding-left: 25px;

      &::before {
        content: '•';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
        color: #999;
      }
    }
  }
}
