@use '@shared/styles/mixins' as *;

.CampaignAdditionalNotice {
  @include flex($direction: column);
  width: 100%;
  @include padding($x: 16);
  background: var(--color-white);
}

.Title {
  @include font($size: 14, $weight: 700, $line-height: 1.5, $letter-spacing: -2%);
  color: var(--color-gray-900);
  @include margin($bottom: 12);
}

.Content {
  @include flex($direction: column);
  gap: 4px;
}

.ContentLine {
  @include font($size: 14, $weight: 500, $line-height: 1.5, $letter-spacing: -2%);
  color: var(--color-gray-600);
  @include margin($all: 0);
  white-space: pre-wrap;
}
