@use '@shared/styles/mixins' as *;

.CampaignTab {
  height: 36px;
  border-radius: 99px;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
  @include padding($y: 0, $x: 12);
  @include flex($gap: 4, $justify: center, $align: center);
  @include font($size: 14, $line-height: 150%, $letter-spacing: -0.28);

  &__Wrapper {
    position: sticky;
    height: 52px;
    overflow-x: scroll;
    background: var(--color-white);
    top: 48px;
    z-index: 300;
    margin-left: -16px;
    margin-right: -16px;
    @include padding($y: 8, $x: 16);
    @include flex($gap: 8, $justify: flex-start, $align: center);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &[data-selected='true'] {
    background: var(--color-blue-50);
    border: 1px solid var(--color-blue-500);

    span {
      color: var(--color-blue-500);
      @include font($weight: 700);
    }
  }

  &[data-selected='false'] {
    background: var(--color-white);
    border: 1px solid var(--color-gray-100);

    span {
      color: var(--color-gray-800);
      @include font($weight: 600);
    }
  }
}
