@use '@/shared/styles/mixins' as *;

.ReservationBeforeCard__WarningWrapper {
  @include flex($align: center, $gap: 4, $justify: center);
}

.ReservationBeforeCard__WarningText {
  @include font(
    $size: 12,
    $weight: 500,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-400)
  );
}

.ReservationBeforeCard__PrimaryText {
  @include font(
    $size: 14,
    $weight: 700,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--color-white)
  );
}
