@use '@/shared/styles/mixins' as *;

.CampaignReviewedCard__StatusLabel {
  @include font(
    $size: 16,
    $weight: 700,
    $line-height: 1.5,
    $letter-spacing: -0.02em,
    $color: var(--gray-900)
  );
}
