:root {
  --z-page: 0;
  --z-sticky: 10;
  --z-dropdown: 100;
  --z-modal-backdrop: 900;
  --z-modal: 1000;
  --z-bottomsheet-backdrop: 1900;
  --z-bottomsheet: 2000;
  --z-actionsheet-backdrop: 2900;
  --z-actionsheet: 3000;
  --z-toast: 5000;
}
