@use '@shared/styles/mixins' as *;

.NotFoundContent {
  width: 100%;
  height: 100dvh;
  @include flex($direction: column, $gap: 16, $align: center, $justify: center);

  p {
    text-align: center;
    margin-bottom: 16px;
    @include font($size: 16, $weight: 600, $color: #808080);
  }

  &__Button {
    width: 160px;
  }
}

.NotFound {
  min-width: 360px;
}
