.HomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-blue-500);

  .HomeContents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 120dvw;
    background-color: var(--color-white);
    padding: 24px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transform: rotate(-8deg);

    font-weight: 700;

    & span {
      color: var(--color-blue-500);
    }
  }
}
