@use '@shared/styles/mixins' as *;

.CampaignCard {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1/1;
  box-shadow: 0 4px 16px 0 rgba(0 0 0 / 8%);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &__Link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }

  &__Wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  &__Header {
    bottom: 0;
    padding: 16px;
    width: 100%;
  }

  &__Badge {
    position: absolute;
    top: 8px;
    left: 8px;
    @include padding($y: 2, $x: 6);
    border-radius: 6px;
    background: rgba(0 0 0 / 20%);
    backdrop-filter: blur(8px);

    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
  }

  &__Content {
    @include padding($all: 16);
    @include flex($direction: row, $gap: 4);
    width: 100%;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.16);
    padding: 13px 16px;
  }

  &__Recruitment {
    display: flex;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    color: rgba(255 255 255 / 60%);
    height: 24px;

    b {
      color: white;
      font-weight: 600;
    }
  }

  &__Button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.16);
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border: none;
  }

  &__Brand {
    font-size: 14px;
    font-weight: 600;
    @include margin($all: 0);

    color: #fff;
    line-height: 1.5;
  }

  &__Title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 1.4;
    @include margin($all: 0);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.48px;
    margin-bottom: 4px;
  }

  &__Items {
    opacity: 0.8;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.32px;
  }

  &__Meta {
    @include flex($direction: row, $gap: 8);
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    letter-spacing: -0.24px;
    opacity: 0.7;
  }
}
