@use '@shared/styles/mixins' as *;

.CampaignCard {
  background: #fff;
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 16px 0 rgba(0 0 0 / 8%);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &__Link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }

  &__Wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  &__Header {
    bottom: 0;
    padding: 16px;
    width: 100%;
  }

  &__Badge {
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 6px;
    background: rgba(0 0 0 / 20%);
    backdrop-filter: blur(8px);

    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    @include padding($y: 2, $x: 6);
  }

  &__Content {
    &__Active {
      width: 100%;
      height: 72px;
      justify-content: space-between;
      align-items: center;
      background: rgba(255, 255, 255, 0.16);
      padding: 13px 16px;
      @include flex($direction: row, $gap: 4);
    }
    &__Closed,
    &__Before {
      width: 100%;
      height: 72px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      @include flex($direction: row, $gap: 4, $align: center, $justify: center);

      span {
        color: #fff;
        font-size: 18px;
        letter-spacing: -0.36px;
        font-weight: 700;
      }
    }
  }

  &__Recruitment {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    color: rgba(255 255 255 / 60%);
    height: 24px;
    @include flex($direction: row, $gap: 8);

    b {
      color: white;
      font-weight: 600;
    }
  }

  &__Button {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.16);
    border: none;
    @include flex($direction: row, $gap: 8, $align: center, $justify: center);
  }

  &__Brand {
    font-size: 14px;
    font-weight: 600;

    color: #fff;
    line-height: 1.5;
    @include margin($all: 0);
  }

  &__Title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.48px;
    margin-bottom: 4px;
    word-break: keep-all;
    @include margin($all: 0);
  }

  &__Items {
    opacity: 0.8;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__Meta {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    letter-spacing: -0.24px;
    opacity: 0.7;
    @include flex($direction: row, $gap: 8);
  }
}
