@use '@shared/styles/mixins' as *;

.CalendarDatePicker {
  // @include padding($y: 24);
  text-align: center;
  border-bottom: 1px solid var(--gray-50);

  &__MonthCell {
    @include font($weight: 600);
  }

  &__Footer {
    @include padding($y: 24);
    @include font($weight: 500, $size: 14);
  }

  &__Label {
    @include padding($x: 4);
  }

  &__DateRange {
    @include padding($left: 8);
    @include font($weight: 600);
  }
}
