@use '@shared/styles/mixins' as *;

.TimeGrid {
  @include padding($y: 24, $x: 0);
  @include margin($x: auto);
  @include flex($direction: column, $gap: 16);
  border-bottom: 1px solid var(--gray-50);

  &__Section {
    // Section container
  }

  &__SectionLabel {
    @include font($weight: 500, $color: var(--gray-900));
    @include margin($bottom: 8);
  }

  &__SimpleGrid {
    @include font($weight: 700);
    gap: 8px;

    :where([data-active]) {
      border: 1px solid transparent;
      background-color: var(--primary-500);
    }

    :not([data-active]) {
      border: 1px solid var(--gray-100);
      color: var(--gray-800);
    }

    button {
      @include padding($y: 0, $x: 12);
      height: 40px;
    }
  }
}
