@use '@shared/styles/mixins' as *;

.CampaignApplyCompletePage {
  min-height: 100vh;
  @include padding($y: 20, $x: 16);
  @include flex($direction: column, $gap: 24, $align: center, $justify: center);
}
