@use '@shared/styles/mixins' as *;

.CampaignApplyCompletePage {
  min-height: calc(100vh - 48px);
  @include padding($y: 108, $x: 16);
  @include flex($direction: column, $gap: 24, $align: center);
}
