@use '@shared/styles/mixins' as *;

.KakaoLoginButton {
  background: #f9e001;

  width: 100%;
  height: 50px;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  @include padding($y: 12, $left: 24, $right: 46);
  @include font($size: 16, $weight: 700, $color: #333);
  @include flex($align: center, $justify: space-between, $gap: 8);

  span {
    width: 100%;
  }
}
