@use '@shared/styles/mixins' as *;

.CampaignValue {
  @include flex($align: center, $gap: 8);
  @include padding($y: 0, $x: 8);
  width: 100%;
  height: 40px;
  background-color: var(--color-blue-50);
  border-radius: 10px;
}

.Icon {
  @include flex($align: center, $justify: center);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.Text {
  @include font($size: 14, $weight: 600, $line-height: 1.5, $letter-spacing: -0.02em);
  color: var(--color-gray-800);
}
