@use '@/shared/styles/mixins' as *;
.CautionBottomSheet {
  &__SubTitle {
    @include font($weight: 600, $color: #333333, $size: 16);
  }
  &__Caution {
    line-height: 1.5;
    list-style-type: disc;
    @include font($weight: 500, $color: #808080, $size: 14);
    @include padding($left: 16);
    @include margin($top: 12, $bottom: 24);
    li::marker {
      font-size: 10px;
    }
  }
  &__CheckBox {
    border: 1px solid var(--gray-100);
    border-radius: 10px;
    @include flex($gap: 24, $align: center);
    @include padding($y: 13, $x: 12);
  }
  &__AgreeText {
    @include font($weight: 700, $color: #4a4a4a, $size: 16);
  }
}
