@use '@shared/styles/mixins' as *;

.LabeledInput {
  @include flex($gap: 4, $direction: column);
  @include margin($bottom: 4);

  &__Label {
    @include font($size: 14, $weight: 600, $color: var(--gray-900));
  }

  &__BlogLink {
    @include font($size: 14, $weight: 500, $color: var(--gray-400));
  }

  &__BlogId {
    @include font($size: 14, $weight: 600, $color: var(--gray-600));
  }

  &__InputSection {
    @include flex($direction: row, $gap: 4);
    @include margin($top: 4);
  }

  &__InputBox {
    border: 1px solid var(--gray-100);
    border-radius: 10px;
    box-shadow: none;
    @include flex($align: center, $justify: space-between);
    @include padding($x: 16);
    @include size($height: 50, $width: 100%);
    &--Error {
      border-color: var(--color-red-500);
    }
  }
  &__Input {
    border: none;
    @include size($height: 16, $width: 100%);
    @include font($weight: 500, $size: 14, $color: #333333);
    &:focus {
      outline: none;
    }
  }
  &__ClearButton {
    background-color: var(--gray-200);
    border-radius: 100%;
    border: none;
    @include size($width: 16, $height: 16);
    @include flex($justify: center, $align: center);
  }

  &__Button {
    border-radius: 10px;
    background-color: var(--color-aqua-500);
    border-style: none;
    @include font($size: 16, $weight: 700, $color: white);
    flex-shrink: 0;
    cursor: pointer;
    @include size($width: 68, $height: 50);
    &:disabled {
      background-color: var(--gray-300);
      cursor: not-allowed;
    }
    &:hover {
      background-color: var(--color-aqua-400);
    }
  }

  &__SuccessMsg {
    @include font($size: 14, $weight: 500, $color: var(--color-blue-500));
  }

  &__ErrorMsg {
    @include font($size: 14, $weight: 500, $color: var(--color-red-500));
  }

  &__InputMessage {
    @include size($width: 100%);
    @include flex($direction: column, $gap: 8);
  }
}
