@use '@shared/styles/mixins' as *;

.ImageGallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  aspect-ratio: 1;
}

.ImageItem {
  position: relative;

  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;

  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 8px;

  transition:
    transform 0.2s,
    box-shadow 0.2s;

  &:active {
    transform: scale(0.98);
  }

  &--empty {
    background-color: #e7e7e7;
    cursor: default;
    pointer-events: none;

    &:active {
      transform: none;
    }
  }
}

.Image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.ViewAllButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  color: white;
  cursor: pointer;
  background-color: rgb(0 0 0 / 60%);
  border: none;
  border-radius: 6px;
  backdrop-filter: blur(4px);

  transition:
    background-color 0.2s,
    transform 0.2s;

  &:hover {
    background-color: rgb(0 0 0 / 80%);
  }

  &:active {
    transform: scale(0.95);
  }

  svg {
    display: block;
  }
}
