@use '@shared/styles/mixins' as *;

.ImageViewer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgb(0 0 0 / 90%);
}

.Content {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  // TODO: 실제 이미지 뷰어 스타일
}

.CloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  font-size: 24px;
  color: white;

  cursor: pointer;
  background-color: rgb(0 0 0 / 50%);
  border: none;
  border-radius: 50%;

  transition: background-color 0.2s;

  &:hover {
    background-color: rgb(0 0 0 / 70%);
  }
}

.Placeholder {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  padding: 40px;

  text-align: center;
  color: white;

  // TODO: 개발 완료 후 제거
}

.Todo {
  font-size: 14px;
  color: #ccc;

  // TODO: 개발 완료 후 제거
}
