@use '@shared/styles/mixins' as *;

.ReserveConfirmPage {
  @include padding($x: 16);

  min-height: 100vh;
  @include flex($direction: column, $align: center);
  &__Loading,
  &__Error {
    @include flex($direction: column, $align: center, $justify: center);
    min-width: 360px;
    @include padding($y: 40, $x: 20);
    text-align: center;

    p {
      font-size: 16px;
      color: var(--color-gray-600);
    }
  }
}
