@use '@shared/styles/mixins' as *;

.ReserveConfirmPage {
  @include padding($x: 16);

  min-height: 100vh;
  @include flex($direction: column, $align: center);

  // TODO: 실제 디자인에 맞게 스타일 수정

  &__Loading,
  &__Error {
    @include flex($direction: column, $align: center, $justify: center);
    min-height: 400px;
    @include padding($y: 40, $x: 20);
    text-align: center;

    p {
      font-size: 16px;
      color: var(--color-gray-600);
    }
  }
}

.Placeholder {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  min-height: 400px;

  text-align: center;

  // TODO: 개발 완료 후 제거
}

.Todo {
  font-size: 14px;
  color: #999;

  // TODO: 개발 완료 후 제거
}
