@use '@shared/styles/mixins' as *;

.ModificationBottomSheet {
  @include flex($direction: column, $gap: 16);
  @include margin($bottom: 82);
  &__SubTitle {
    @include size($height: 21);
    @include font($color: #808080, $weight: 500, $size: 12);
  }
  &__Content {
    @include font($color: #4a4a4a, $size: 14, $weight: 600);
  }
  &__Line {
    border-bottom: 1px solid var(--gray-50);
  }
  &__Caution {
    line-height: 1.5;
    list-style-type: disc;
    @include font($weight: 600, $color: #808080, $size: 12);
    @include padding($left: 16);
    li::marker {
      font-size: 10px;
    }
  }
}
