@use '../../../../shared/styles/mixins' as *;

.MyCurrentCampaignCard {
  border: 1px solid var(--gray-50);
  border-radius: 16px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  @include padding($all: 12);
  @include flex($direction: column, $gap: 12);
  &__BrandInfo {
    @include flex($direction: row, $gap: 16, $align: center);
  }
  &__Line {
    border-bottom: 1px solid var(--gray-50);
  }
  &__Text {
    @include flex($direction: column, $gap: 4);
  }
  &__Brand {
    color: var(--gray-900);
    font-size: 14px;
    font-weight: 600;
  }
  &__Items {
    color: var(--gray-600);
    font-size: 12px;
    font-weight: 500;
  }
  &__State {
    @include flex($justify: space-between, $align: center);
  }
}
