@use '@shared/styles/mixins' as *;

.MyCurrentCampaignCard {
  border: 1px solid var(--gray-50);
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  @include padding($all: 12);
  @include flex($direction: column, $gap: 12);
  &__BrandInfo {
    @include flex($direction: row, $gap: 16, $align: center);
  }
  &__Line {
    border-bottom: 1px solid var(--gray-50);
  }
  &__Text {
    @include flex($direction: column, $gap: 4);
  }
  &__Brand {
    height: 21px;
    @include font($color: var(--gray-900), $size: 14, $weight: 600);
  }
  &__Items {
    @include font($color: var(--gray-600), $size: 12, $weight: 500);
  }
  &__State {
    @include flex($justify: space-between, $align: center);
  }
  &__Date {
    @include font($color: #808080, $weight: 500, $size: 14);
  }
}
