@use '@/styles/mixins' as *;

.ReviewList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ReviewList--Loading,
.ReviewList--Error,
.ReviewList--Empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include padding($y: 48, $x: 24);
  text-align: center;
}

.ReviewList--Loading {
  color: var(--gray-600);
}

.ReviewList--Error {
  color: var(--error-600);
}

.ReviewList__ErrorMessage {
  @include margin($top: 8);
  font-size: 14px;
  color: var(--error-500);
}

.ReviewList--Empty {
  color: var(--gray-500);
}
