@use '@/shared/styles/mixins' as *;

.Gnb {
  @include padding($y: 0, $x: 16);
  @include flex($align: center, $gap: 12, $justify: space-between);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 48px;
  background: var(--color-white);

  &__Logo {
    @include flex($align: center, $justify: center);
    height: 36px;
  }

  &__Notification {
    @include flex($align: center, $justify: center);
    position: relative;

    &__Active {
      @include size($width: 13px, $height: 13px);
      @include flex($align: center, $justify: center);
      @include font($size: 8px, $weight: 700, $line-height: 1, $color: var(--color-white));
      position: absolute;
      top: -2px;
      right: -2px;
      border-radius: 50%;
      background: var(--color-red-500);
    }
  }

  &__Right {
    @include flex($justify: flex-end, $align: center, $gap: 16);
  }

  &__Setting {
    @include flex($align: center, $justify: center);
  }
}
