@use '@/shared/styles/mixins' as *;

.Gnb {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: 48px;
  @include padding($y: 0, $x: 16);
  @include flex($align: center, $gap: 12);
  justify-content: space-between;
  background: var(--color-white);

  &__Logo {
    @include flex($align: center, $justify: center);
    height: 36px;
  }

  &__Notification {
    position: relative;
    @include flex($align: center, $justify: center);

    &__Active {
      position: absolute;
      top: -2px;
      right: -2px;

      @include size($width: 13px, $height: 13px);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-red-500);
      color: var(--color-white);
      font-size: 8px;
      font-weight: 700;
      line-height: 1;
    }
  }

  &__Right {
    @include flex($justify: flex-end, $align: center, $gap: 16);
  }

  &__Setting {
    @include flex($align: center, $justify: center);
  }
}
