@use '@/shared/styles/mixins' as *;

.Gnb {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: 56px;
  @include padding($y: 0, $x: 16);
  @include flex($align: center, $gap: 12);
  justify-content: space-between;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-gray-200);

  &__Logo {
    @include flex($align: center);
    height: 36px;
  }

  &__Notification {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &__Active {
      position: absolute;
      top: -2px;
      right: -2px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-red-500);
      color: var(--color-white);
      font-size: 8px;
      font-weight: 700;
      line-height: 1;
    }
  }
}
