@use '@/shared/styles/mixins' as *;

.Gnb {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include flex($align: center, $gap: 12);
  height: 56px;
  @include padding($y: 0, $x: 16);
  background: var(--color-white);
  border-bottom: 1px solid var(--color-gray-200);
  justify-content: space-between;
}

.Gnb__Logo {
  display: flex;
  height: 36px;
  padding: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Notification__Icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.NotificationIcon__Active {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-red-500);
  color: #fff;
  font-size: 8px;
  font-weight: 700;
  line-height: 1;
}
