@use '@shared/styles/mixins' as *;

.ReviewSection {
  @include padding($y: 24, $x: 16);
  @include flex($direction: column, $gap: 12);
  h2 {
    @include font($size: 16, $weight: 700, $color: #333);
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 8px;
    grid-auto-rows: auto;
  }

  &__Button {
    width: 100%;
  }
}
