@use '@shared/styles/mixins' as *;

.CampaignInfoSection {
  @include flex($direction: column);
  width: 100%;
  @include padding($y: 16, $x: 16);
  background: var(--color-white);
}

.InfoItem {
  @include flex($align: flex-start, $gap: 12);
  @include margin($bottom: 16);

  &:last-child {
    @include margin($bottom: 0);
  }
}

.Icon {
  @include flex($align: center, $justify: center);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 12px;
}

.IconLocation {
  background-color: var(--color-gray-50);
}

.IconShop {
  background-color: var(--color-blue-50);
}

.IconBlog {
  background-color: var(--color-gray-100);
}

.Content {
  @include flex($direction: column, $gap: 4);
  flex: 1;
}

.Title {
  @include font($size: 14, $weight: 600, $line-height: 1.5, $letter-spacing: -2%);
  color: var(--color-gray-900);
}

.Description {
  @include font($size: 14, $weight: 500, $line-height: 1.5, $letter-spacing: -2%);
  color: var(--color-gray-600);
}
