@use '../../../shared/styles/mixins' as *;

.Button {
  // 기본 스타일
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0 20px;

  // 비활성화 상태
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // 호버 효과
  &:not(:disabled):hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  }

  // 클릭 효과
  &:not(:disabled):active {
    transform: translateY(0);
  }
}

// 크기 변형
.Button--Small {
  font-size: 14px;
  height: 32px;
}

.Button--Medium {
  font-size: 16px;
  height: 44px;
}

.Button--Large {
  font-size: 18px;
  height: 52px;
}

// 스타일 변형
.Button--Primary {
  background-color: var(--primary-500);
  color: #fff;

  &:not(:disabled):hover {
    background-color: var(--primary-600);
  }
}

.Button--Secondary {
  background-color: white;
  border: 1px solid var(--gray-100);
  color: var(--gray-800);

  &:not(:disabled):hover {
    background-color: var(--gray-50);
  }
}

.Button--Outline {
  background-color: white;
  border: 1px solid var(--gray-100);
  color: var(--error-500);

  &:not(:disabled):hover {
    background-color: var(--gray-50);
  }
}

.Button--Warning {
  background-color: var(--error-500);
  color: white;

  &:not(:disabled):hover {
    background-color: var(--error-800);
  }
}

// 전체 너비
.Button--FullWidth {
  width: 100%;
}
