@use '../../../shared/styles/mixins' as *;

.Button {
  // 기본 스타일
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  @include font($weight: 600);
  @include padding($x: 20);

  // 비활성화 상태
  &:disabled {
    background-color: var(--gray-200);
    color: var(--color-white);
    cursor: not-allowed;
    border: none;
  }

  // 호버 효과
  &:not(:disabled):hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  }

  // 클릭 효과
  &:not(:disabled):active {
    transform: translateY(0);
  }
}

// 크기 변형
.Button--Small {
  border-radius: 8px;
  @include size($height: 40);
  @include font($size: 14);
  @include padding($x: 12);
}

.Button--Medium {
  @include size($height: 50);
  @include font($size: 16);
}

.Button--Large {
  @include size($height: 60);
  @include font($size: 18);
}

// 스타일 변형
.Button--Primary {
  background-color: var(--primary-500);
  @include font($color: var(--color-white));

  &:not(:disabled):hover {
    background-color: var(--primary-600);
  }
}

.Button--Secondary {
  background-color: var(--color-white);
  border: 1px solid var(--gray-100);
  @include font($color: var(--gray-800));

  &:not(:disabled):hover {
    background-color: var(--gray-50);
  }
}

.Button--Outline {
  background-color: var(--color-white);
  border: 1px solid var(--gray-100);
  @include font($color: var(--error-500));

  &:not(:disabled):hover {
    background-color: var(--gray-50);
  }
}

.Button--Warning {
  background-color: var(--error-500);
  @include font($color: var(--color-white));

  &:not(:disabled):hover {
    background-color: var(--error-800);
  }
}

// 전체 너비
.Button--FullWidth {
  @include size($width: 100%);
}
