@use '../../../shared/styles/mixins' as *;

.WebButton {
  &__InputBox {
    border-color: var(--gray-100);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    @include size($height: 54);
    @include padding($all: 12);
    @include flex($align: center, $justify: space-between);
  }

  &__ImageInput {
    @include flex($align: center, $gap: 8);
    flex: 1;
    min-width: 0;
  }

  &__Input {
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-800);
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    pointer-events: none;
    caret-color: transparent;
  }

  &__Button {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    @include padding($x: 8);
    @include size($height: 30);
    @include flex($justify: center, $align: center, $gap: 4);
    cursor: pointer;

    &--Edit,
    &--Copy {
      color: var(--gray-800);
      border-color: var(--gray-100);
    }

    &--Connect {
      color: var(--color-aqua-500);
      border-color: var(--color-aqua-500);
    }
  }

  &__Label {
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-900);
  }

  &__Connect {
    color: var(--color-blue-500);
    font-size: 14px;
    font-weight: 600;
    @include margin($left: 8);
  }

  &__LabelBox {
    @include margin($bottom: 8);
    @include flex();
  }
}
